In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("nasdaq_screener.csv")
df.head()

,Symbol,Name,Last Sale,Net Change,% Change,Market Cap,Country,IPO Year,Volume,Sector,Industry
0,A,Agilent Technologies Inc. Common Stock,$140.13,1.38,0.995%,4.252150e+10,United States,1999.0,961367,Capital Goods,Electrical Products
1,AA,Alcoa Corporation Common Stock,$37.98,-0.64,-1.657%,7.091806e+09,NaN,2016.0,4924051,Basic Industries,Metal Fabrications
2,AAC,Ares Acquisition Corporation Class A Ordinary ...,$9.78,-0.03,-0.306%,1.222500e+09,NaN,2021.0,213965,Finance,Business Services
3,AACG,ATA Creativity Global American Depositary Shares,$3.31,-0.02,-0.601%,1.049309e+08,China,NaN,39021,Miscellaneous,Service to the Health Industry
4,AACQ,Artius Acquisition Inc. Class A Common Stock,$10.00,0.01,0.10%,9.056250e+08,United States,2020.0,2120713,Finance,Business Services

In [3]:
df.shape

(7804, 11)

In [4]:
df = df[["Symbol", "Name"]]

In [5]:
indices = list(df[df["Symbol"].str.contains("\^|/")].index)
indices = [i-1 for i in indices]

In [6]:
df = df.drop(df.index[indices]).reset_index(drop=True)
df = df[~df["Symbol"].str.contains("\^|/")].reset_index(drop=True)

In [7]:
df["Name"] = df["Name"].apply(lambda x: x.split("Common")[0])
df["Name"] = df["Name"].apply(lambda x: x.split("common")[0])
df["Name"] = df["Name"].apply(lambda x: x.split("COMMON")[0])
df["Name"] = df["Name"].apply(lambda x: x.split("COmmon")[0])
df["Name"] = df["Name"].apply(lambda x: x.split("Class")[0])
df["Name"] = df["Name"].apply(lambda x: x.split("class")[0])
df["Name"] = df["Name"].apply(lambda x: x.strip())

In [8]:
df = df.drop_duplicates().reset_index(drop=True)

In [9]:
duplicate_names = df[df["Name"].duplicated()]["Name"] + " ("+ df[df["Name"].duplicated()]["Symbol"] + ")"

In [10]:
for i in duplicate_names.index:
    df["Name"][i] = duplicate_names[i]

In [11]:
df.to_csv("nasdaq_stocks.csv", index=False)